@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-info">Welcome To My Amazing Website!</h1>
    <p>Go to the <a asp-controller="Books">Book demo</a>.</p>
</div>
