@page "/inventories"

@inject NavigationManager NavigationManager
@inject IViewInventoriresByNameUseCase ViewInventoriesByNameUseCase

<h3>Inventory List</h3>
<br />
<ViewInventoriesComponent OnSearchInventories="OnSearchInventories" />

@if (_listInventories is not null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var inv in _listInventories)
            {
                <InventoryItemComponent Inventory="inv" />
            }
        </tbody>
    </table>
}

<br />
<button type="button" class="btn btn-primary" @onclick="AddInventory">Add Inventory</button>


@code {

    private List<Inventory>? _listInventories;

    protected override async Task OnInitializedAsync()
    {
        _listInventories = (await ViewInventoriesByNameUseCase.ExecuteAsync()).ToList();
    }

    private void OnSearchInventories(List<Inventory> inventories)
    {
        _listInventories = inventories;
    }

    private void AddInventory()
    {
        NavigationManager.NavigateTo("addinventory");
    }
}
