@page "/products"

@inject NavigationManager NavigationManager
@inject IViewProductsByNameUseCase ViewProductsByNameUseCase


<h3>Product List</h3>
<br />

<ViewProductsComponent OnSearchProducts="OnSearchProducts"/>

@if(_listProducts is not null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var product in _listProducts)
            {
                <ProductItemComponent Product="product" />
            }
        </tbody>
    </table>
}
<br />
<button type="button" class="btn btn-primary" @onclick="AddProduct">Add Product</button>

@code {
    private List<Product>? _listProducts;


    protected async override Task OnInitializedAsync()
    {
        _listProducts = (await ViewProductsByNameUseCase.ExecuteAsync()).ToList();
    }

    private void OnSearchProducts(List<Product> products)
    {
        _listProducts = products;
    }

    private void AddProduct()
    {
        NavigationManager.NavigateTo("addproduct");
    }
}
